﻿.form-group .help-block {
    display: none;
}
.form-group.has-error .help-block {
    display: block;
}

/*input.ng-pristine {
    background-color: green;
}

input.ng-dirty {
    background-color: red;
}

input.ng-valid {
    border: 3px solid darkred;
}

input.ng-invalid {
    border: 3px solid black;
}*/

