﻿<script type="text/ng-template" id="customTemplate.html">
    <a>
        <span ng-bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
        <div>{{match.model.formatted_address}}</div>
        <div>{{match.model.geometry.location_type}}</div>
    </a>
</script>
<div class="modal-header">
    <h1>Create New Employee</h1>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="employeeForm" novalidate role="form">
        <fieldset>
            <legend>Basic Information </legend>

            <div class="form-group" show-errors>
                <label for="fullName" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                    <input type="text" id="fullName" name="fullName" class="form-control" ng-model="editableEmployee.fullName" ng-required="shouldShowFullName()" ng-pattern="/^A/" ng-minlength="3"/>
                    <span class="help-block" ng-if="employeeForm.fullName.$error.required" >Full Name is required</span>
                    <span class="help-block" ng-if="employeeForm.fullName.$error.pattern">Full Name must start with A</span>
                    <span class="help-block" ng-if="employeeForm.fullName.$error.minlength">Full Name have a minimum 3 characters</span>
                </div>
            </div>
            
            <div class="form-group" show-errors >
                <label for="email" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" id="email" name="email" class="form-control" ng-model="editableEmployee.email" ng-required="true " />
                    <span class="help-block" ng-if="employeeForm.email.$error" >A valid Email is required</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="notes">Notes</label>
                <div class="col-sm-9">
                    <textarea name="notes" id="notes" class="form-control" rows="5" cols="4"
                              ng-model="editableEmployee.notes"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="Department">Department</label>
                <div class="col-sm-9">
                    <select name="department" id="department" class="form-control"
                            ng-model="editableEmployee.department" ng-options="dept for dept in departments"></select>
                </div>
            </div>

            <div class="form-group">
                <label for="dateHired" class="col-sm-3 control-label">Date Hired</label>
                <div class="col-sm-9">
                    <datepicker ng-model="editableEmployee.dateHired"></datepicker>
                </div>
            </div>
            <div class="form-group">
                <label for="breakTime" class="col-sm-3 control-label">Break Time</label>
                <div class="col-sm-9">
                    <timepicker name="breakTime" ng-model="editableEmployee.breakTime"></timepicker>
                </div>
            </div>
            <div class="form-group">
                <label for="topProgrammingLanguage" class="col-sm-3 control-label">
                    Top Programming Language
                </label>
                <div class="col-sm-9">
                    <input type="text" id="topProgrammingLanguage" name="topProgrammingLanguage"
                           class="form-control"
                           ng-model="editableEmployee.topProgrammingLanguage"
                           typeahead="address as address.formatted_address for address in getLocation($viewValue)" typeahead-no-results="noResults"
                           typeahead-template-url="customTemplate.html" />
                    <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i>No Results Found
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="interviewRating" class="col-sm-3 control-label">Interview Rating</label>
                <div class="rating-control col-sm-3">
                    <rating id="interviewRating" name="interviewRating" 
                            ng-model="interviewRating" 
                            max="10" on-hover="hoveringOver(value)" on-leave="overStar=null"/>
                </div> 
                <div class="rating-control">
                    <span class="label"
                          ng-class="{'label-warning': percent<30, 'label-info': percent>30 && percent<70, 'label-success': percent>=70 }"
                          ng-show="overStar">{{percent}}%</span>
                </div>
            </div>
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="isUnderNonCompete" 
                               ng-model="editableEmployee.isUnderNonCompete" />
                        <span tooltip="Contact legal if you are uncertain" 
                              tooltip-placement="right"
                              tooltip-trigger="mouseenter" >Is Employee under a non-compete contract?</span>
                    </label>
                </div>
            </div>
            <div class="form-group" collapse="!editableEmployee.isUnderNonCompete">
                <label for="nonCompeteNotes" class="col-sm-3 control-label">
                    Non-Compete Notes
                </label>
                <div class="col-sm-9">
                    <textarea name="notes" id="notes" class="form-control" rows="5" cols="40" 
                              ng-model="editableEmployee.nonCompeteNotes"></textarea>
                </div>
            </div>

        </fieldset>
        <br />
        <fieldset>
            <legend>Perks</legend>

            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <div class="checkbox">
                        <label><input type="checkbox" value="perkCar" ng-model="editableEmployee.perkCar" />Company Car</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="perkStock" ng-model="editableEmployee.perkStock" />Stock Options</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="perkSixWeeks" ng-model="editableEmployee.perkSixWeeks" />Six Weeks Vacation</label>
                    </div>
                </div>
            </div>
        </fieldset>
        <br />
        <fieldset>
            <legend>Payroll Type</legend>

            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <div class="radio">
                        <label><input type="radio" name="payrollType" value="w2" ng-model="editableEmployee.payrollType" /> W-2</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="payrollType" value="ten99" ng-model="editableEmployee.payrollType" /> 1099</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="payrollType" value="none" ng-model="editableEmployee.payrollType" /> None</label>
                    </div>
                    <br />

                </div>
            </div>
        </fieldset>
       
    </form>
</div>
<div class="modal-footer">
    <div class="col-sm-offset-3 col-sm-9">
        <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelForm()" />
        <input type="submit" class="btn btn-primary" value="Submit" ng-click="submitForm()" />
        <input type="reset" class="btn btn-warning" value="Reset" ng-click="resetForm()" />
    </div>
</div>



