﻿<input type="button" class="btn btn-primary" value="Add New Employee" 
       ng-click="showCreateEmployeeForm()" />
<br />
<br />
<input type="button" class="btn btn-primary" value="Update Employee Id: 123"
       ng-click="showUpdateEmployeeForm(123)" />
